body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.menu-list {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  list-style: none;
  background-color: #eee;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  overflow: auto;
}

.menu-list li {
  padding: 5px 15px;
  color: #2175bc;
}

.menu-list li.is-active {
  background-color: #2175bc;
  color: #fff !important;
}

.menu-list li.is-active .link {
  background-color: #2175bc;
  color: #fff;
}

.link {
  display: block;
  width: 100%;
  background-color: #eee;
  color: #000;
  cursor: pointer;
}

input {
  padding: 7px;
  outline: none;
}

button {
  background-color: #38f;
  color: #fff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  outline: none;
}

.wizard-finish-step li {
  list-style: none;
  padding: 10px;
}

.wizard-finish-step label {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
